{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "babelOptions":{
            "configFile": "./babel.config.json"
        }
    },
    "extends": ["airbnb"],
    "rules": {
      "max-len": [1, 70, 2, { "ignoreComments": true }]
    },
    "globals":{
        "document": "readonly",
        "Image": "readonly",
        "window": "readonly",
        "localStorage": "readonly"
    }

  }