/* New Item Dialog Box */

.newItemBox{
    width: 50%;
    height: 60vh;
    border: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.newItemBox>input[type=text]{
    border: none;
}

.newItemBox>input[type=text]:focus{
    border: none;
    outline: none;
}

.newItemBox>textarea{
    border: none;
    height: 90vh;
}

.newItemBox>textarea:focus{
    border: none;
    outline: none;
}

.newItemBox>button{
    width: 95%;
    height: 20px;
    border: none;
    background-color: aliceblue;
}

/* Task List */
.taskList{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Task Card */
.taskCard{
    Width: 20%;
    height: 32%;
    background-color: #e2e8f0;
    padding: 2vh 2vw;
    border-radius: 10px;
    margin: 5px;
}

.listBody{
    width: 80vw;
    height: 70%;
}

.deleteButton{
    background-color: rgba(0 0 0 0);
    border: none;
}