/* New Item Dialog Box */

.newItemBox{
    width: 50%;
    height: 60vh;
    border: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #991b1b;
    margin: 2vh auto;
    border-radius: 20px;
}

.newItemBox>input[type=text]{
    border: none;
    background-color: #fee2e2;
    font-size: 20px;
}

.newItemBox>input[type=text]:focus{
    border: none;
    outline: none;
    background-color: #fee2e2;
}

.newItemBox>textarea{
    border: none;
    height: 90vh;
    padding: 0 5vw;
    background-color: #fee2e2;
}

.newItemBox>textarea:focus{
    border: none;
    outline: none;
    background-color: #fee2e2;
    padding: 0 5vw;
}

.newItemBox>button{
    width: 100%;
    height: 40px;
    border: none;
    background-color: aliceblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

/* Task List */
.taskList{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Task Card */
.taskCard{
    Width: 20%;
    height: 32%;
    background-color: #e2e8f0;
    padding: 2vh 2vw;
    border-radius: 10px;
    margin: 5px;
}

.listBody{
    width: 80vw;
    height: 70%;
}

.deleteButton{
    background-color: rgba(0 0 0 0);
    border: none;
    width: 100%;
}

.dialogTopBar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #b91c1c;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1vh 2vw;
}

.dialogTopBar>img{
    width: 32px;
    color: white;
}